@media screen and (min-width: 1200px) {
  .header-mobile-menu {
    display: none;
  }

  .header-mob-menu-btn-open {
    display: none;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 32px;
    margin-right: 0;
  }

  .header-nav {
    margin: 0 auto;
  }

  .header-list {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-right: 300px;
  }

  .header-list {
    gap: 10px;
  }

  .header-contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 24px;
    border: 1px solid var(--primary-accent-color);
    background-color: var(--primary-background-color);

    color: var(--primary-accent-color);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    width: 185px;
    height: 48px;
  }

  h1 {
    font-size: 64px;
    font-weight: 800;
  }

  .intro-text {
    font-size: 20px;
    color: gray;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .team {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
