<section class="container intro">
  <div class="body-container">
    <div class="body-section">
      <h1>Make your dream <br />business goal come true</h1>
      <p class="intro-text">
        when you need us for improve your business, then come with us to help
        your business <br />have reach it, you just sit and feel that goal
      </p>
      <button class="project-btn">Start project</button>
    </div>
    <section class="team">
      <div class="team-pic">
        <img
          src="./images/teammate/team-work.jpg"
          alt="team-work"
          class="intro-img"
          width="330"
          height="224"
        />
        <div class="card-1">
          <div class="card-title">
            <svg class="star-logo-pic">
              <use
                href="./images/symbol-defs.svg#icon-star"
                width="16"
                height="16"
              ></use>
            </svg>
            <p class="p">Great Project</p>
          </div>

          <p><span>800+</span>Done</p>
        </div>
        <div class="card-1 card-2">
          <div class="portrait-card">
            <img
              class="portrait"
              src="./images/portraits/rafaella-mendes-diniz-et_78QkMMQs-unsplash.jpg"
              alt="portrait"
              width="15"
              height="15"
            />
            <h2 class="p">Rafaella Mendes <span>CEO UpTech</span></h2>
          </div>
          <p>
            “ This team is really the best in its field,I don't regret working
            with them, and will come back again thanks “
          </p>
        </div>
      </div>
    </section>
    <section class="about-us">
      <h2 class="about-title">About Us</h2>
      <h3 class="teammate-title">Out Teammate</h3>
      <div class="about">
        <div class="text-content">
          <p class="about-text">
            We move with make a Creative Strategy for help your business goal,
            we help to improve your income by a services we have. make your
            content look interesting and make people look for your business2
          </p>
          <p class="about-text 2nd">
            We move with make a Creative Strategy for help your business goal,
            we help to improve your income by a services we have. make your
            content look interesting and make people look for your business2
          </p>
          <div class="btns">
            <button type="button" class="about-btn-1st">About us</button>
            <button type="button" class="about-btn-2nd">
              <svg class="play-circle">
                <use
                  href="./images/symbol-defs.svg#icon-play2"
                  width="16"
                  height="16"
                ></use>
              </svg>
              About us
            </button>
          </div>
        </div>
        <img
          src="./images/teammate/brooke-cagle--uHVRvDr7pg-unsplash.jpg"
          alt="teammate"
          class="team-img"
          width="340"
          height="242"
        />
      </div>
    </section>
    <section class="services">
      <div class="services-points">
        <div class="text">
          <h2 class="about-title">Our Services</h2>
          <h3 class="teammate-title">Perfect and Fast Movement</h3>
          <p class="services-text">
            We move with make a Creative Strategy for help your business goal,
            we help to improve your income by a services we have. make your
            content look interesting and make people look for your business
          </p>
          <a href="#" class="read-more">Read more -></a>
        </div>

        <div class="services-cards">
          <ul class="cards">
            <li class="card">
              <div class="icon-div">
                <svg class="icon">
                  <use
                    href="./images/symbol-defs.svg#icon-monitor"
                    width="42"
                    height="42"
                  ></use>
                </svg>
              </div>
              <div class="unique-card">
                <p class="card-text">Social Media Management</p>
              </div>
            </li>
            <li class="card">
              <div class="icon-div item">
                <svg class="icon">
                  <use
                    href="./images/symbol-defs.svg#icon-settings"
                    width="42"
                    height="42"
                    class="icon"
                  ></use>
                </svg>
              </div>
              <div class="unique-card">
                <p class="card-text">Search Engine Opimization</p>
              </div>
            </li>
            <li class="card">
              <div class="icon-div item-1">
                <svg class="icon">
                  <use
                    href="./images/symbol-defs.svg#icon-pen"
                    width="42"
                    height="42"
                    class="icon"
                  ></use>
                </svg>
              </div>
              <div class="unique-card">
                <p class="card-text">Design</p>
              </div>
            </li>
            <li class="card">
              <div class="icon-div item-2">
                <svg class="icon">
                  <use
                    href="./images/symbol-defs.svg#icon-tv"
                    width="42"
                    height="42"
                    class="icon"
                  ></use>
                </svg>
              </div>
              <div class="unique-card">
                <p class="card-text">Ads</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="portfolio-section">
      <div class="portfolio">
        <div class="portfolio-text">
          <h2 class="about-title">Our Portfolio</h2>
          <h3 class="teammate-title">What do we do</h3>
          <p class="services-text">
            all projects that we have already done , proven can help to use more
            comfortable, then can used by client from our business
          </p>
          <div class="portfolio-img">
            <ul class="portfolio-cards">
              <li class="port-card">
                <div class="img">
                  <img
                    class="portfolio-img"
                    src="./images/services/charlesdeluvio-GXNo-OJynTQ-unsplash.jpg"
                    alt="Design Furniture App"
                    width="300"
                    height="300"
                  />
                </div>
                <div class="img-title">Design Furniture App</div>
              </li>
              <li class="port-card">
                <div class="img">
                  <img
                    class="portfolio-img"
                    src="./images/services/alvaro-reyes-qWwpHwip31M-unsplash.jpg"
                    alt="Cloud App"
                    width="300"
                    height="300"
                  />
                </div>
                <div class="img-title">Cloud App</div>
              </li>
              <li class="port-card">
                <div class="img">
                  <img
                    class="portfolio-img"
                    src="./images/services/charlesdeluvio-cZr2sgaxy3Q-unsplash.jpg"
                    alt="Byte App"
                    width="300"
                    height="300"
                  />
                </div>
                <div class="img-title">Design Byte App</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
