<header>
  <div class="container header">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo">
        <svg class="header-logo-pic">
          <use href="./images/symbol-defs.svg#icon-Logo"></use>
        </svg>
        <p class="header-logo-text"><span>Agency </span> Creative</p>
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a href="" class="header-list-link active">Home</a>
        </li>
        <li class="header-item">
          <a href="" class="header-list-link">About</a>
        </li>
        <li class="header-item">
          <a href="" class="header-list-link">Services</a>
        </li>
        <li class="header-item">
          <a href="" class="header-list-link">Projects</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-contact-btn">Contact us</button>
  </div>

  <button type="button" class="header-mob-menu-btn-open js-open-menu">
    <svg class="header-mobile-menu-button-icon">
      <use
        href="./images/symbol-defs.svg#icon-menu"
        width="29"
        height="25"
      ></use>
    </svg>
  </button>

  <div class="header-mobile-menu js-menu-container">
    <div class="header-container-mobile-menu">
      <button type="button" class="header-mobile-menu-close-bth js-close-menu">
        <!-- <svg class="header-mobile-menu-bth-pic" width="12" height="12">
          <use href="./images/icons.svg#i-close-button"></use>
        </svg> -->
      </button>

      <ul class="header-mobile-menu-list list">
        <li class="header-list-item-mobile-menu list">
          <a class="header-list-link" href="./index.html"> Home </a>
        </li>
        <li class="header-list-item-mobile-menu list">
          <a class="header-list-link" href=""> About </a>
        </li>
        <li class="header-list-item-mobile-menu list">
          <a class="header-list-link" href=""> Services </a>
        </li>
        <li class="header-list-item-mobile-menu list">
          <a class="header-list-link" href=""> Projects </a>
        </li>
      </ul>
    </div>
  </div>
</header>
